*{
  margin:0px;
  padding:0px;
  font-family:'poppins';
  color:white;
}
.outer{
  display:flex;
  flex-direction:row;
  height:100vh;
  width:100%;
  /* flex-wrap:wrap;  */
}
.test{
  /* border:2px solid red  !important; */
}