.outer_center{
    /* flex:0 0 60%;     */
    width:100%;
    background-color: #333b6a;
}
.top_nav{
    background-color:#363f78;
    width:100%;
    display:flex;
    flex-direction:row;
    height:4.5em;
}
.welcome{
    font-size:12px;
}
.nav_name{
    padding:0.5em 0em 0em 1em;
}
.nav_inpt_div{
    flex-grow:0.7;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.nav_input{
    background-color: #5d6490;
    border: none;
    text-indent: 1em;
}
.nav_input:active,
.nav_input:focus{ 
    outline:none;
    
}
.nav_input::placeholder{
    color: wheat;
}
.input_wrapper{
    border-radius:23px ;
    background-color: #5d6490;
    padding: 0.5em;
    display: flex;

    align-items: flex-start;
}

#profile_pic{
    height:55px;
    width: 50px;
    border-radius:50%;
}
.noti{
    flex-grow: 0.2;
    justify-content:space-around;
    align-items: center;
    display: flex;
    flex-direction: row;
}
.pp{
    flex-grow:0.2;
}

.inner_center{
    height: 300px;
}
