.outer_sidebar{
    width:20%;
    background-color:#363f78;
    /* min-width: 0 */

}
.des_a{
    padding:1em 1em;
    padding-bottom:2em
}
#menu{
    color:#7e83a7;
    padding-left:1.5em;
    font-size:12px;
}
.menu_list{
    border-bottom:0.8px solid grey;
}
.menu_list_item{
    padding:1em;
    align-items:center;
    display:flex;
    flex-direction:row;
    align-content:center;
}
.menu_icon{
    height:20px;
    width:20px;
}
.list_item_name{
    font-size:13px;
    flex-grow:1;
    padding-left:2em;
}